/* Reset de margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
  }
  header {
    position: relative;
    display: flex;
    background-color: #00ff7f; /* Cor de fundo da faixa */
    border-bottom: 2px solid #d8c1f1; /* Borda inferior branca */
    color: #2f4f4f; /* Cor do texto dentro da faixa */
    align-items: center;
    justify-content: space-between; /*alinha itens no header comm espaço entre eles*/
    text-align: center; /*centraliza o texto*/
    width: 100%; /* Largura total */
    height: 110px; /*altura do header*/
    padding: 0 20px; /*esapçamento interno*/
  }
  /* Estilos para o contêiner principal */
  .profile {
    display: flex;
    max-width: 300px;
    align-items: center; /*alinha os itens no topo*/
    padding: 10px; /* espaço ao redor do conteúdo*/
    text-shadow: 2px 1px #d8c1f1; /*sombra no texto*/
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .profile img {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 4px 5px #91ba71;
    border: 3px solid #71ba91;
    flex-shrink: 0; /*impede que a imagem incolha*/
  }
  .profile h4 {
    padding-top: 15px;
    font-size: 20px;
  }
  
  /* Estilos para o conteúdo principal */
  
  
  .hamburger-menu {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Certifique-se de que o botão está acima de outros elementos */
    position: relative;
  }
  .submit-button {
    display: flex;
    gap: 30px;
    align-items: center;
    
  }
  .submit-button,
  .hamburger-menu {
    position: relative;
    z-index: 10;
  }
  .submit {
    width: 90px;
    height: 90px;
    border: none; /* Remove a borda do botão */
    border-radius: 30%; /* Adiciona bordas arredondadas ao botão */
    font-weight: 500;
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    outline: none;
    font-size: 14px; /* Define o tamanho da fonte do botão */
    transition: background-color 0.3s; /* Adiciona uma transição suave à cor de fundo do botão */
    background-color: transparent; /* Remove a cor de fundo para tornar o link clicável */
  }


  .button-1 {
    background-color: #9171ba;
  }
  
  .submit a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  /* Adicione espaço entre os botões */
  .submit-button button + button {
    margin-top: 10px;
  }
  .submit:hover {
    background-color: #d8c1f1;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    margin: 20px;
    gap: 30px;
  }
  
  .content {
    color: #ffffff;
    background-color: rgb(0, 0, 0, 0.6);
    text-align: justify;
    border-radius: 5px;
    border: 10px;
    padding: 10px;
  }
  
  .content h2 {
    margin: 20px;
    text-align: center;
    color: #0a2374;
  }
  
  .content p {
    line-height: 1.3;
    padding: 20px;
  }
  
  .text {
    color: #ffffff;
    background-color: rgb(0, 0, 0, 0.6);
    text-align: justify;
    border-radius: 5px;
    border: 10px;
    padding: 1rem;
    line-height: 1.3;
  }
  .text h2, h3 {
    margin: 20px;
    text-align: center;
    color: #0a2374;
  }
  .text h4 {
    color: #0a2374;;
  }
  .extra {
    color: #ffffff;
    background-color: rgb(0, 0, 0, 0.6);
    text-align: justify;
    border-radius: 5px;
    border: 10px;
    padding: 1rem;
  }
  .extra h2 {
    margin: 20px;
    text-align: center;
    color: #0a2374;
  }
  .extra h4{
    color: #56b7c9;
  }
  .footer {
    background-color: #71ba91;
    text-align: center;
    padding: 10px;
    position: relative;
    align-items: center; /* Centraliza os itens na horizontal */
  }
  
  .footer h5 {
    margin-top: 10px; /* Adiciona um espaço acima do h5 */
  }
  

  
  /* Media Query para telas menores */
 @media (max-width: 768px) {/* Oculta os botões de navegação em telas menores */
  
  .container {
    grid-template-columns: 1fr; /* Uma coluna para telas menores */
    padding: 0;
    margin: 10px;
    
  }
  header {
    width: 100%;
  }

  .submit-button {
    display: none;
    position: absolute;
    top: 5px; /* Ajuste para ficar abaixo do header */
    right: 5px;
    padding: 5px;
    border-radius: 8px;
    z-index: 999;/* Garante que o menu fique acima de outros elementos */

  }

  /* Exibe o menu quando ativo */
  .submit-button.active {
    display: flex;
    
  }
  
  /* Exibe o botão de hambúrguer */
  .hamburger-menu {
    display: block;
  }

  /* Estilização dos botões no menu */
  .submit {
    width: 80px;
    height: 35px;
    font-size: 14px;
    border-radius: 4px;
  }
 
  .submit:hover {
    background-color: #ddd;
  }
  .footer {
    width: 100%;
  }
  
}